//output: main.html

html
  head
    link(href="./main.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker" rel="stylesheet")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet")
    link(rel="stylesheet" href="./animations.css")
    //script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
    script(src="jquery-3.2.1.js")
    script(src="./main.js")
  body    
    div.bg
      div.logo
        div.navsection#navSection
          H1.logos.letterpress LOGO
          div#mySidenav.sidenav
            div.close
              img(src="./no_profile.svg")
              div.info
                p John Doe
                p john.Doe@example.com
              a(style="height: 7%" href="javascript:void(0)" onclick="closeNav()").closebtn.letterpress &times;
            a#about(href="#profile" onclick="moveToAbout()") About
            a#skill(href="#skills" onclick="moveToSkills()") Skills
            a#education1(href="#education" onclick="moveToEducation()") Education
            a#work1(href="#portfolio" onclick="moveToWork()") Work
            a#contact1(href="#contact" onclick="moveToContact()") Contact
            div.socialnav
              div.btns
                i.fa.fa-twitter#twitterBtn
                i.fa.fa-linkedin#linkedBtn
                i.fa.fa-instagram#instaBtn
                i.fa.fa-dribbble#dribbleBtn
          span(style="font-size:100px;cursor:pointer;margin-left:3%;margin-top: 2%" onclick="openNav()")#open.openBtn.letterpress &#9776;
        div.text
          H1.embossed Web Designer | Front End Developer 
          H2.letterpress Bridging the gap between logic and creativity 
        button.center#contactBtn(href="#contactA" onclick="moveToContact1()" onTouchStart="moveToContact1()") Contact Me
      div.profile#profile
        div.container
          div.row
            hr.style18
          img(src="./no_profile.svg")
          h1 John Doe
          h4 Web Designer 
          h5 London, UK
          hr.style1
          h5 Email: john.Doe@example.com 
          p "I am a web designer based in Lincoln, UK. I currently specialiase in front end technologies, including: HTML(Jade), CSS(Sass) and JavaScript(Angular)"
          div.row1
            hr.style18
      div.skills#skills
        h1.embossed Skills
        div.row2
          hr.style18
        h4.letterpress.embossed HTML
        div.progress
          div.progress-bar#slide(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;")
            span.sr-only 100% Complete
        h4.letterpress.embossed Jade
        div.progress
          div.progress-bar#slide1(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;")
            span.sr-only 100% Complete
        h4.letterpress.embossed CSS
        div.progress
          div.progress-bar#slide2(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;")
            span.sr-only 100% Complete
        h4.letterpress.embossed Sass
        div.progress
          div.progress-bar#slide3(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;")
            span.sr-only 100% Complete
        h4.letterpress.embossed Javascript
        div.progress
          div.progress-bar#slide4(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;")
            span.sr-only 100% Complete
        h4.letterpress.embossed Responsive Design
        div.progress
          div.progress-bar#slide5(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;")
            span.sr-only 100% Complete
        h4.letterpress.embossed SEO Practices 
        div.progress
          div.progress-bar#slide6(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;")
            span.sr-only 100% Complete
      div.education#education
        h1 Education
        h3 Bachelors in Computer Science
        h5 2:2 with honours 
        div.control
          div.overview#overview
            h4 Overview
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus congue id ante eget aliquam. Fusce volutpat auctor sapien. Praesent volutpat lacus ut dictum fringilla. 
          div.year1#year1
            h4 Year 1 - Modules
            p Module 1 
            p Module 2
            p Module 3
            p Module 4
            p Module 5 
          div.year2#year2
            h4 Year 2 - Modules
            p Module 1
            p Module 2
            p Module 3
            p Module 4
            p Module 5
          div.year3#year3
            h4 Year 3 - Modules 
            p Module 1
            p Module 2
            p Module 3
            p Module 4
            p Module 5
      div.portfolio#portfolio
        div.label
          h2 Have a look at 
          h1 my work
        div.work#ani
          img(src="./no-image-available.png")
          img(src="./no-image-available.png")
          img(src="./no-image-available.png")
          img(src="./no-image-available.png")
          img(src="./no-image-available.png")
          img(src="./no-image-available.png")
          img(src="./no-image-available.png")
          img(src="./no-image-available.png")
          img(src="./no-image-available.png")
          img(src="./no-image-available.png")
        
      div.contact#contact
        div.call
          h1 Want to hire me?
          p Send me a message.
        div.form
          form(name="contact_form", method="contact")
            div.name
              input.first(type="text", name="nameFirst", placeholder="First Name")
              input.last(type="text", name="nameLast", placeholder="Last Name")
            div.subject
              input.subject(type="text", name="subject", placeholder="Subject")
            div.message
              textarea(rows=4, placeholder="Enter your message here...")
            div.action
              input(type="submit", value="SUBMIT")
      div.social
        div.socialCall
          H1 Follow me on Social Media
          H2 Get up to date information and designs
        div.btns
          i.fa.fa-twitter#twitterBtn
          i.fa.fa-linkedin#linkedBtn
          i.fa.fa-instagram#instaBtn
          i.fa.fa-dribbble#dribbleBtn
